<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
  <link rel='stylesheet' href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>
  <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")">
  <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Reactive Demo</a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav" ng-controller="SiteNavController">
                        <li ng-class="{ active: siteNav.isActive('/projects') }"><a href="#/projects">Projects</a></li>
                        <li ng-class="{ active: siteNav.isActive('/time-entry') }"><a href="#/time-entry">Time Entry</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="panel">
            <div class="panel-body" ng-view></div>
        </div>

        <footer>Angular seed app: v<span app-version></span></footer>
    </div>
</body>
</html>
